<div>
  <div class="flex flex-row gap-3 items-center justify-content-center">
    <div class="h-full">
      <div class="h-[35em] w-[24rem] bg-gray-900 rounded-lg shadow p-4">
        <div class="flex justify-between">
          <div>
            <h5 class="leading-none text-heading3-bold font-bold text-white pb-2">Sales</h5>
          </div>
          <div class="flex items-center">
            <button class="p-2.5 text-4xl font-semibold bg-purple-950 rounded-lg text-gray-200">.CSV</button>
          </div>
        </div>
        <div id="data-series-chart"></div>
      </div>
    </div>

    <div class="h-full">
      <div class="h-[35em] w-[28rem] relative overflow-x-auto shadow-md md:rounded-lg">
        <div class="space-y-3 p-4 bg-gray-900 shadow rounded-t-lg">
          <h5 class="leading-none text-heading3-bold font-bold text-white pb-2">Top Products</h5>
        </div>
        <table class="w-full text-sm text-left bg-gray-900 text-gray-400">
          <thead class="text-xs text-gray-300 uppercase text-center">
          <tr>
            <th class="px-6 py-3" scope="col">
              Product
            </th>
            <th class="px-10 py-3" scope="col">
              Date
            </th>
            <th class="px-6 py-3" scope="col">
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let product of expiredProducts"
              class="bg-gray-800 border-b border-gray-800 text-center">
            <td class="px-4 py-4">
              <div class="flex items-center">
                <img [alt]="product.title" [src]="product.imageUrl" class="w-16 mr-4 rounded-lg">
                <span class="text-start font-semibold text-gray-400">
                {{ product.title }}
              </span>
              </div>
            </td>
            <td class="px-4 py-4 font-semibold text-gray-400">
              {{ product.date }}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="h-full">
      <div class="h-[35em] w-[28rem] relative overflow-x-auto shadow-md md:rounded-lg">
        <div class="space-y-3 p-4 bg-gray-900 shadow rounded-t-lg">
          <h5 class="leading-none text-heading3-bold font-bold text-white pb-2">Expired Products</h5>
        </div>
        <table class="w-full text-sm text-left bg-gray-900 text-gray-400">
          <thead class="text-xs text-gray-300 uppercase text-center">
          <tr>
            <th class="px-6 py-3" scope="col">
              Product
            </th>
            <th class="px-10 py-3" scope="col">
              Date
            </th>
            <th class="px-6 py-3" scope="col">
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let product of expiredProducts"
              class="bg-gray-800 border-b border-gray-800 text-center">
            <td class="px-4 py-4">
              <div class="flex items-center">
                <img [alt]="product.title" [src]="product.imageUrl" class="w-16 mr-4 rounded-lg">
                <span class="text-start font-semibold text-gray-400">
                {{ product.title }}
              </span>
              </div>
            </td>
            <td class="px-4 py-4 font-semibold text-gray-400">
              {{ product.date }}
            </td>
            <td class="pr-8 py-4">
              <button
                class="cursor-pointer"
                data-dropdown-placement="left"
                data-dropdown-toggle="actionsDropdown"
                id="actions"
                type="button">
                <img alt="actions" src="/assets/assets/more.svg" width="34"/>
              </button>
              <div class="z-10 text-center hidden divide-y divide-gray-100 rounded-lg shadow w-40 bg-gray-900"
                   id="actionsDropdown">
                <ul aria-labelledby="dropdownDefaultButton" class="py-2 text-sm text-gray-200">
                  <li>
                    <a
                      class="block px-4 py-2 hover:bg-gray-600 hover:text-gray-100 cursor-pointer">
                      Ignore
                    </a>
                  </li>
                  <li>
                    <a [routerLink]="['/product-details', product.id]"
                       class="block px-4 py-2 hover:bg-gray-600 hover:text-gray-100 cursor-pointer">
                      View details
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
