<div>
  <div class="flex justify-center items-center h-[80vh]">
    <div class="flex flex-col items-center gap-y-3">
      <img class="w-4/12" src="assets/assets/sleeping.svg" alt="empty">
      <h2 class="text-heading1-semibold text-violet-100">You have been lost...</h2>
      <button (click)="goBack()"
              class="w-1/4 rounded-lg bg-violet-700 px-3 py-2 flex items-center justify-center border-2 border-violet-900
                hover:bg-violet-700/80 active:bg-bg-violet-800 transition-colors ease-in-out shadow-sm">
            <span class="text-heading4-medium font-semibold text-violet-50">
              Go back
            </span>
      </button>
    </div>
  </div>
</div>
