<div *ngIf="!isUserAuthenticated">
  <app-sign-in></app-sign-in>
</div>

<div *ngIf="isUserAuthenticated && profileForm" class="mx-auto px-6">
  <div class="bg-slate-900 rounded-lg p-8 w-full mx-auto">
    <form [formGroup]="profileForm">
      <div class="flex flex-row justify-end">
      </div>
      <!-- Nested User Card -->
      <div class="flex flex-col rounded-lg bg-slate-800 mb-6">
        <div class="flex flex-row items-center justify-center gap-4 py-8">

          <div class="flex justify-center">
            <div class="mt-1 relative"> <!-- Use relative positioning for the overlay button -->
              <input #imageInput type="file" (change)="onImageChange($event)" class="hidden">
              <button (click)="imageInput.click()" class="absolute px-2 py-2 bg-slate-900 text-white rounded-lg">
                <img alt="Upload icon" class="w-6 h-6" src="/assets/assets/edit.svg">
              </button>
              <img alt="Profile picture" class="rounded-full w-32 h-32 object-cover border-3 border-slate-300"
                   [src]="profileImageUrl || '/assets/default.png'">
            </div>
          </div>

          <div class="mt-6 text-center flex flex-col gap-2 w-1/4">
            <div class="bg-slate-50 bg-opacity-60 text-center rounded-xl">
              <span
                class="text-[24px] font-medium border-0 text-slate-900">{{profile?.firstName}} {{profile?.lastName}}</span>
            </div>
            <span
              aria-describedby="emailHelp"
              class="text-[18px] py-0.5 font-medium bg-slate-100 bg-opacity-40 border-0 text-slate-900 text-center rounded-xl cursor-not-allowed"
              disabled
            > {{profile?.email}}
                    </span>
          </div>
        </div>
        <div class="px-1 ">
          <small class="text-white w-full text-muted" id="emailHelp">We'll never share your email with anyone
            else.</small>
        </div>
      </div>
      <!-- User Information Details -->
      <div class="flex flex-wrap -mx-3">
        <div class="w-full md:w-1/2 px-3 mb-6">
          <label class="text-gray-400">First Name</label>
          <input
            class="form_input text-sm"
            formControlName="firstName"
            placeholder="Enter your first name..."
            required
            type="text"
          >
        </div>
        <div class="w-full md:w-1/2 px-3 mb-6">
          <label class="text-gray-400">Last Name</label>
          <input
            class="form_input text-sm"
            formControlName="lastName"
            placeholder="Enter your last name..."
            required
            type="text">
        </div>
        <div class="w-full md:w-1/2 px-3 mb-6">
          <label class="text-gray-400">Hire Date</label>
          <input
            class="form_input text-sm text-muted"
            formControlName="createdDate"
            type="date"
          >
        </div>
        <div class="w-full md:w-1/2 px-3 mb-6">
          <label class="text-gray-400">Supermarket Name</label>
          <input
            class="form_input text-sm text-muted"
            formControlName="supermarketName"
            placeholder="Supermarket Name"
            type="text"
          >
        </div>
        <button
          (click)=saveProfile()
          class="w-full mx-3 text-white text-base-medium ease-in-out transition-colors bg-purple-main hover:bg-purple-600 active:bg-violet-600/70 shadow-md rounded-lg py-2"
          type="button">Submit
        </button>
      </div>
    </form>
  </div>
</div>
