<div class="relative bg-slate-900 rounded-lg overflow-hidden">

  <div class="absolute inset-0 bg-cover bg-center"
       style="background-image: url('/assets/store.png'); filter: blur(0px);"></div>

  <div class="absolute inset-0 bg-slate-900 opacity-50"></div>

  <div class="py-3 px-3 mx-auto max-w-screen-xl grid lg:grid-cols-2 gap-4 lg:gap-16 relative">
    <div class="flex justify-center mt-6">
      <h2 class="text-[4rem] font-bold text-gray-50 mb-6"></h2>
    </div>
    <div>
      <div class="lg:max-w-xl px-6 py-3 sm:p-8 rounded-lg shadow-xl bg-slate-900">
        <form class="space-y-3" [formGroup]="employeeForm" (ngSubmit)="saveEmployee()" novalidate>
          <div class="">
            <label *ngIf="employeeForm.get('email')?.invalid && employeeForm.get('email')?.touched" for="email"
                   class="block mb-2 text-sm font-medium text-red-600">Email</label>
            <label *ngIf="!employeeForm.get('email')?.invalid || !employeeForm.get('email')?.touched" for="email"
                   class="block mb-2 text-sm font-medium text-gray-300">Email</label>
            <input type="email"
                   id="email"
                   formControlName="email"
                   placeholder="e.g. MaxMustermann@web.de"
                   [class]="employeeForm.get('email')?.invalid && employeeForm.get('email')?.touched ? 'form-input-store text-sm border-2 border-red-600' : 'form-input-store text-sm border-2 border-violet-950'"
                   required>
            <div *ngIf="employeeForm.get('email')?.invalid && employeeForm.get('email')?.touched"
                 class="mt-2 text-sm text-red-600 dark:text-red-500">
              Email is required.
            </div>
          </div>
          <div class="">
            <label *ngIf="employeeForm.get('password')?.invalid && employeeForm.get('password')?.touched" for="password"
                   class="block mb-2 text-sm font-medium text-red-600">Password</label>
            <label *ngIf="!employeeForm.get('password')?.invalid || !employeeForm.get('password')?.touched" for="password"
                   class="block mb-2 text-sm font-medium text-gray-300">Password</label>
            <input type="password"
                   id="password"
                   formControlName="password"
                   placeholder="••••••••"
                   [class]="employeeForm.get('password')?.invalid && employeeForm.get('password')?.touched ? 'form-input-store text-sm border-2 border-red-600' : 'form-input-store text-sm border-2 border-violet-950'"
                   >
            <div *ngIf="employeeForm.get('password')?.invalid && employeeForm.get('password')?.touched"
                 class="mt-2 text-sm text-red-600 dark:text-red-500">
              Password is required.
            </div>
          </div>
          <div class="grid gap-4 lg:grid-cols-2">
            <div>
              <label *ngIf="employeeForm.get('firstName')?.invalid && employeeForm.get('firstName')?.touched" for="firstName"
                     class="block mb-2 text-sm font-medium text-red-600">First Name</label>
              <label *ngIf="!employeeForm.get('firstName')?.invalid || !employeeForm.get('firstName')?.touched" for="firstName"
                     class="block mb-2 text-sm font-medium text-gray-300">First Name</label>
              <input type="text"
                     id="firstName"
                     formControlName="firstName"
                     placeholder="e.g Max"
                     [class]="employeeForm.get('firstName')?.invalid && employeeForm.get('firstName')?.touched ? 'form-input-store text-sm border-2 border-red-600' : 'form-input-store text-sm border-2 border-violet-950'"
                     required>
              <div *ngIf="employeeForm.get('firstName')?.invalid && employeeForm.get('firstName')?.touched"
                   class="mt-2 text-sm text-red-600 dark:text-red-500">
                First Name is required.
              </div>
            </div>
            <div>
              <label *ngIf="employeeForm.get('lastName')?.invalid && employeeForm.get('lastName')?.touched" for="lastName"
                     class="block mb-2 text-sm font-medium text-red-600">Last Name</label>
              <label *ngIf="!employeeForm.get('lastName')?.invalid || !employeeForm.get('lastName')?.touched" for="lastName"
                     class="block mb-2 text-sm font-medium text-gray-300">Last Name</label>
              <input type="text"
                     id="lastName"
                     formControlName="lastName"
                     placeholder="e.g. Mustermann"
                     [class]="employeeForm.get('lastName')?.invalid && employeeForm.get('lastName')?.touched ? 'form-input-store text-sm border-2 border-red-600' : 'form-input-store text-sm border-2 border-violet-950'"
                     required>
              <div *ngIf="employeeForm.get('lastName')?.invalid && employeeForm.get('lastName')?.touched"
                   class="mt-2 text-sm text-red-600 dark:text-red-500">
                Last Name is required.
              </div>
            </div>
            <div>
              <label *ngIf="employeeForm.get('roleName')?.invalid && employeeForm.get('roleName')?.touched" for="roleName"
                     class="block mb-2 text-sm font-medium text-red-600">Role</label>
              <label *ngIf="!employeeForm.get('roleName')?.invalid || !employeeForm.get('roleName')?.touched" for="roleName"
                     class="block mb-2 text-sm font-medium text-gray-300">Role</label>
              <select #roleName
                      [class]="employeeForm.get('roleName')?.invalid && employeeForm.get('roleName')?.touched ? 'form-input-store text-sm border-2 border-red-600' : 'form-input-store text-sm border-2 border-violet-950'"
                      id="roleName"
                      name="roleName"
                      formControlName="roleName"
                      required>
                <option value="" disabled selected>Select role</option>
                <option class="font-medium p-2.5 rounded-3xl border-indigo-400"
                        *ngFor="let role of roles" [value]="role">
                  {{ role }}
                </option>
              </select>
              <div *ngIf="employeeForm.get('roleName')?.invalid && employeeForm.get('roleName')?.touched"
                   class="mt-2 text-sm text-red-600 dark:text-red-500">
                Role is required.
              </div>
            </div>
            <div>
              <label *ngIf="employeeForm.get('supermarketName')?.invalid && employeeForm.get('supermarketName')?.touched" for="roleName"
                     class="block mb-2 text-sm font-medium text-red-600">Store</label>
              <label *ngIf="!employeeForm.get('supermarketName')?.invalid || !employeeForm.get('supermarketName')?.touched" for="roleName"
                     class="block mb-2 text-sm font-medium text-gray-300">Store</label>
              <select [class]="employeeForm.get('supermarketName')?.invalid && employeeForm.get('supermarketName')?.touched ? 'form-input-store text-sm border-2 border-red-600' : 'form-input-store text-sm border-2 border-violet-950'"
                      id="supermarketName"
                      name="supermarketName"
                      formControlName="supermarketName"
                      required>
                <option value="" disabled selected>Select store</option>
                <option class="font-medium p-2.5 rounded-3xl border-indigo-400"
                        *ngFor="let store of supermarketTitles" [value]="store">
                  {{ store }}
                </option>
              </select>
              <div *ngIf="employeeForm.get('supermarketName')?.invalid && employeeForm.get('supermarketName')?.touched"
                   class="mt-2 text-sm text-red-600 dark:text-red-500">
                Store is required.
              </div>
            </div>
          </div>
          <div>
            <label for="manager"
                   class="block mb-2 text-sm font-medium text-gray-300">Manager</label>
            <select #managerSelector
                    class="form-input-store text-sm border-2 border-violet-950"
                    id="manager"
                    name="manager"
                    formControlName="adminId"
                    required>
              <option value="" disabled selected>Select superior</option>
              <option class="font-medium p-2.5 rounded-3xl border-indigo-400"
                      *ngFor="let manager of managers" [value]="manager.id">
                {{manager.firstName}} {{manager.lastName}}
              </option>
            </select>
          </div>
          <div class="flex flex-row gap-3 pt-3" >
            <button type="submit"
                    [disabled]="!employeeForm.valid"
                    [class]="!employeeForm.valid ?
                    'disabled:bg-purple-900 disabled:text-violet-500 font-medium rounded-lg border-2 disabled:border-purple-900/30 text-sm w-full sm:w-auto px-5 py-2 text-center cursor-pointer' :
                    'text-gray-50 hover:text-gray-50 active:text-gray-50 bg-purple-main transition-colors hover:bg-purple-700 active:bg-purple-800 font-medium rounded-lg border-2 border-purple-600/30 hover:border-purple-600/30 active:border-purple-800/30 text-sm w-full sm:w-auto px-5 py-2 text-center cursor-pointer'">
              {{ title }}
            </button>
            <button type="button"
                    class="text-gray-50 bg-red-600 transition-colors hover:bg-red-700 active:bg-red-800  font-medium rounded-lg border-2 border-red-700/30 text-sm w-full sm:w-auto px-5 py-2 text-center cursor-pointer"
                    (click)="cancel()">
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
