<div class="relative bg-slate-900 rounded-lg overflow-hidden">
  <div class="absolute inset-0 bg-cover bg-center"
       style="background-image: url('/assets/store.png'); filter: blur(0px);"></div>
  <div class="absolute inset-0 bg-slate-900 opacity-50"></div>

  <div class="py-3 px-3 mx-auto max-w-screen-xl grid lg:grid-cols-2 gap-4 lg:gap-16 relative">
    <div class="flex justify-center mt-6">
      <h2 class="text-[4rem] font-bold text-gray-50 mb-6">Add Order</h2>
    </div>
    <div>
      <div class="lg:max-w-xl px-6 py-3 sm:p-8 rounded-lg shadow-xl bg-slate-900">
        <form (ngSubmit)="saveOrder()" [formGroup]="orderForm" class="space-y-3">

          <!-- Supermarket Name -->
          <div>
            <label *ngIf="orderForm.get('supermarketName')?.invalid && orderForm.get('supermarketName')?.touched" for="supermarketName"
                   class="block mb-2 text-sm font-medium text-red-600">Store</label>
            <label *ngIf="!orderForm.get('supermarketName')?.invalid || !orderForm.get('supermarketName')?.touched" for="supermarketName"
                   class="block mb-2 text-sm font-medium text-gray-300">Store</label>
            <select #supermarketName
                    [class]="orderForm.get('supermarketName')?.invalid && orderForm.get('supermarketName')?.touched ? 'form-input-store text-sm border-2 border-red-600' : 'form-input-store text-sm border-2 border-violet-950'"
                    id="supermarketName"
                    name="supermarketName"
                    formControlName="supermarketName"
                    required>
              <option value="" disabled selected>Select store...</option>
              <option class="font-medium p-2.5 rounded-3xl border-indigo-400"
                      *ngFor="let store of supermarketTitles" [value]="store">
                {{ store }}
              </option>
            </select>
            <div *ngIf="orderForm.get('supermarketName')?.invalid && orderForm.get('supermarketName')?.touched"
                 class="mt-2 text-sm text-red-600 dark:text-red-500">
              Store name is required.
            </div>
          </div>

          <!-- Product Name -->

          <div>
            <label *ngIf="orderForm.get('productName')?.invalid && orderForm.get('productName')?.touched" for="productName"
                   class="block mb-2 text-sm font-medium text-red-600">Product</label>
            <label *ngIf="!orderForm.get('productName')?.invalid || !orderForm.get('productName')?.touched" for="productName"
                   class="block mb-2 text-sm font-medium text-gray-300">Product</label>
            <select #productName
                    [class]="orderForm.get('productName')?.invalid && orderForm.get('productName')?.touched ? 'form-input-store text-sm border-2 border-red-600' : 'form-input-store text-sm border-2 border-violet-950'"
                    id="productName"
                    name="productName"
                    formControlName="productName"
                    required>
              <option value="" disabled selected>Select product</option>
              <option class="font-medium p-2.5 rounded-3xl border-indigo-400">Select product</option>
              <option *ngFor="let product of products" [value]="product.title">{{product.title}}</option>
            </select>
            <div *ngIf="orderForm.get('productName')?.invalid && orderForm.get('productName')?.touched"
                 class="mt-2 text-sm text-red-600 dark:text-red-500">
              Product name is required.
            </div>
          </div>

          <!-- Product Type -->
          <div>
            <label *ngIf="orderForm.get('productType')?.invalid && orderForm.get('productType')?.touched" for="productType"
                   class="block mb-2 text-sm font-medium text-red-600">Type</label>
            <label *ngIf="!orderForm.get('productType')?.invalid || !orderForm.get('productType')?.touched" for="productType"
                   class="block mb-2 text-sm font-medium text-gray-300">Type</label>
            <select #productType
                    [class]="orderForm.get('productType')?.invalid && orderForm.get('productType')?.touched ? 'form-input-store text-sm border-2 border-red-600' : 'form-input-store text-sm border-2 border-violet-950'"
                    id="productType"
                    name="productType"
                    formControlName="productType"
                    required>
              <option value="" disabled selected>Select type</option>
              <option class="font-medium p-2.5 rounded-3xl border-indigo-400"
                      *ngFor="let type of productTypes" [value]="type">
                {{ type }}
              </option>
            </select>
            <div *ngIf="orderForm.get('productType')?.invalid && orderForm.get('productType')?.touched"
                 class="mt-2 text-sm text-red-600 dark:text-red-500">
              Type is required.
            </div>
          </div>


          <div *ngIf="orderForm.get('productType')?.value === 'nonperishable'">
            <div>
              <label *ngIf="orderForm.get('shelfLife')?.invalid && orderForm.get('shelfLife')?.touched" for="shelfLife"
                     class="block mb-2 text-sm font-medium text-red-600">Shelf Life</label>
              <label *ngIf="!orderForm.get('shelfLife')?.invalid || !orderForm.get('shelfLife')?.touched" for="shelfLife"
                     class="block mb-2 text-sm font-medium text-gray-300">Shelf Life</label>
              <input type="number"
                     id="shelfLife"
                     formControlName="shelfLife"
                     placeholder="e.g. Mustermann"
                     [class]="orderForm.get('shelfLife')?.invalid && orderForm.get('shelfLife')?.touched ? 'form-input-store text-sm border-2 border-red-600' : 'form-input-store text-sm border-2 border-violet-950'"
                     required>
              <div *ngIf="orderForm.get('shelfLife')?.invalid && orderForm.get('shelfLife')?.touched"
                   class="mt-2 text-sm text-red-600 dark:text-red-500">
                Last Name is required.
              </div>
            </div>
          </div>

          <!-- Conditional Fields for Perishable Products -->
          <div *ngIf="orderForm.get('productType')?.value === 'perishable'">
            <!-- Expire Date -->
            <div>
              <label *ngIf="orderForm.get('expireDate')?.invalid && orderForm.get('expireDate')?.touched" for="expireDate"
                     class="block mb-2 text-sm font-medium text-red-600">Expire Date</label>
              <label *ngIf="!orderForm.get('expireDate')?.invalid || !orderForm.get('expireDate')?.touched" for="expireDate"
                     class="block mb-2 text-sm font-medium text-gray-300">Expire Date</label>
              <input type="date"
                     id="expireDate"
                     formControlName="expireDate"
                     placeholder="e.g. 2021-12-31"
                     [class]="orderForm.get('expireDate')?.invalid && orderForm.get('expireDate')?.touched ? 'form-input-store text-sm border-2 border-red-600' : 'form-input-store text-sm border-2 border-violet-950'"
                     required>
              <div *ngIf="orderForm.get('expireDate')?.invalid && orderForm.get('expireDate')?.touched"
                   class="mt-2 text-sm text-red-600 dark:text-red-500">
                Expire Date is required.
              </div>
            </div>
            <!-- Storage Type -->
            <div>
              <label *ngIf="orderForm.get('storageType')?.invalid && orderForm.get('storageType')?.touched" for="storageType"
                     class="block mb-2 text-sm font-medium text-red-600">Storage Type</label>
              <label *ngIf="!orderForm.get('storageType')?.invalid || !orderForm.get('storageType')?.touched" for="storageType"
                     class="block mb-2 text-sm font-medium text-gray-300">Storage Type</label>
              <input type="text"
                     id="storageType"
                     formControlName="storageType"
                     placeholder="e.g. Mustermann"
                     [class]="orderForm.get('storageType')?.invalid && orderForm.get('storageType')?.touched ? 'form-input-store text-sm border-2 border-red-600' : 'form-input-store text-sm border-2 border-violet-950'"
                     required>
              <div *ngIf="orderForm.get('storageType')?.invalid && orderForm.get('storageType')?.touched"
                   class="mt-2 text-sm text-red-600 dark:text-red-500">
                Storage Type is required.
              </div>
            </div>
          </div>

          <!-- Quantity -->
          <div>
            <label *ngIf="orderForm.get('quantity')?.invalid && orderForm.get('quantity')?.touched" for="quantity"
                   class="block mb-2 text-sm font-medium text-red-600">Quantity pcs.</label>
            <label *ngIf="!orderForm.get('quantity')?.invalid || !orderForm.get('quantity')?.touched" for="quantity"
                   class="block mb-2 text-sm font-medium text-gray-300">Quantity</label>
            <input type="number"
                   id="quantity"
                   formControlName="quantity"
                   placeholder="e.g. 10"
                   [class]="orderForm.get('quantity')?.invalid && orderForm.get('quantity')?.touched ? 'form-input-store text-sm border-2 border-red-600' : 'form-input-store text-sm border-2 border-violet-950'"
                   required>
            <div *ngIf="orderForm.get('quantity')?.invalid && orderForm.get('quantity')?.touched"
                 class="mt-2 text-sm text-red-600 dark:text-red-500">
              Quantity is required.
            </div>
          </div>
          <div>
            <label *ngIf="orderForm.get('orderDate')?.invalid && orderForm.get('orderDate')?.touched" for="expireDate"
                   class="block mb-2 text-sm font-medium text-red-600">Order Date</label>
            <label *ngIf="!orderForm.get('orderDate')?.invalid || !orderForm.get('orderDate')?.touched" for="expireDate"
                   class="block mb-2 text-sm font-medium text-gray-300">Order Date</label>
            <input type="date"
                   id="orderDate"
                   formControlName="orderDate"
                   placeholder="e.g. 12/31/23"
                   [class]="orderForm.get('orderDate')?.invalid && orderForm.get('orderDate')?.touched ? 'form-input-store text-sm border-2 border-red-600' : 'form-input-store text-sm border-2 border-violet-950'"
                   required>
            <div *ngIf="orderForm.get('orderDate')?.invalid && orderForm.get('orderDate')?.touched"
                 class="mt-2 text-sm text-red-600 dark:text-red-500">
              Order Date is required.
            </div>
          </div>
          <div class="flex flex-row gap-3 pt-3">
            <button [class]="!orderForm.valid ?
                    'disabled:bg-purple-900 disabled:text-violet-500 font-medium rounded-lg border-2 disabled:border-purple-900/30 text-sm w-full sm:w-auto px-5 py-2 text-center cursor-pointer' :
                    'text-gray-50 hover:text-gray-50 active:text-gray-50 bg-purple-main transition-colors hover:bg-purple-700 active:bg-purple-800 font-medium rounded-lg border-2 border-purple-600/30 hover:border-purple-600/30 active:border-purple-800/30 text-sm w-full sm:w-auto px-5 py-2 text-center cursor-pointer'"
                    [disabled]="!orderForm.valid"
                    type="submit">
              Add
            </button>
            <button (click)="cancel()"
                    class="text-gray-50 bg-red-600 transition-colors hover:bg-red-700 active:bg-red-800  font-medium rounded-lg border-2 border-red-700/30 text-sm w-full sm:w-auto px-5 py-2 text-center cursor-pointer"
                    type="button">
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--<div class="container">-->
<!--  <form [formGroup]="orderForm" (ngSubmit)="saveOrder()" novalidate>-->

<!--    &lt;!&ndash; Select for Product Type &ndash;&gt;-->
<!--    <div>-->
<!--      <label for="productType">Product Type:</label>-->
<!--      <select formControlName="productType" id="productType">-->
<!--        <option *ngFor="let type of productTypes" [value]="type">{{type}}</option>-->
<!--      </select>-->
<!--    </div>-->

<!--    &lt;!&ndash; Select for Products &ndash;&gt;-->
<!--    <div>-->
<!--      <label for="productName">Product Name:</label>-->
<!--      <select formControlName="productName" id="productName">-->
<!--        <option *ngFor="let product of products" [value]="product.title">{{product.title}}</option>-->
<!--      </select>-->
<!--    </div>-->

<!--    &lt;!&ndash; Select for Supermarket Title &ndash;&gt;-->
<!--    <div>-->
<!--      <label for="supermarketName">Supermarket:</label>-->
<!--      <select formControlName="supermarketName" id="supermarketName">-->
<!--        <option *ngFor="let title of supermarketTitles" [value]="title">{{title}}</option>-->
<!--      </select>-->
<!--    </div>-->

<!--    &lt;!&ndash; Conditional Inputs for Perishable Type &ndash;&gt;-->
<!--    <div *ngIf="orderForm.get('productType')?.value === 'perishable'">-->
<!--      <div>-->
<!--        <label for="expireDate">Expire Date:</label>-->
<!--        <input type="date" formControlName="expireDate" id="expireDate">-->
<!--      </div>-->
<!--      <div>-->
<!--        <label for="storageType">Storage Type:</label>-->
<!--        <input type="text" formControlName="storageType" id="storageType">-->
<!--      </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; Conditional Input for Nonperishable Type &ndash;&gt;-->
<!--    <div *ngIf="orderForm.get('productType')?.value === 'nonperishable'">-->
<!--      <div>-->
<!--        <label for="shelfLife">Shelf Life (years):</label>-->
<!--        <input type="number" formControlName="shelfLife" id="shelfLife">-->
<!--      </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; Quantity &ndash;&gt;-->
<!--    <div>-->
<!--      <label for="quantity">Quantity:</label>-->
<!--      <input type="number" formControlName="quantity" id="quantity">-->
<!--    </div>-->

<!--    &lt;!&ndash; Order Date &ndash;&gt;-->
<!--    <div>-->
<!--      <label for="orderDate">Order Date:</label>-->
<!--      <input type="date" formControlName="orderDate" id="orderDate">-->
<!--    </div>-->

<!--    &lt;!&ndash; Submit and Cancel Buttons &ndash;&gt;-->
<!--    <button type="submit"-->
<!--            [disabled]="!orderForm.valid"-->
<!--            [class]="!orderForm.valid ?-->
<!--                    'disabled:bg-purple-900 disabled:text-violet-500 font-medium rounded-lg border-2 disabled:border-purple-900/30 text-sm w-full sm:w-auto px-5 py-2 text-center cursor-pointer' :-->
<!--                    'text-gray-50 hover:text-gray-50 active:text-gray-50 bg-purple-main transition-colors hover:bg-purple-700 active:bg-purple-800 font-medium rounded-lg border-2 border-purple-600/30 hover:border-purple-600/30 active:border-purple-800/30 text-sm w-full sm:w-auto px-5 py-2 text-center cursor-pointer'">-->
<!--      Submit-->
<!--    </button>-->
<!--    <button type="button" (click)="cancel()">Cancel</button>-->
<!--  </form>-->
<!--</div>-->
