<!--<div class="flex justify-center items-center w-screen">-->
<!--  <svg class="animate-bounce mx-2" style="animation-delay: 0.2s;">-->
<!--    <circle r="25" cx="25" cy="50" fill="#fff" class="animate-bounce animate-pulse" />-->
<!--  </svg>-->
<!--  <svg class="animate-bounce mx-2" style="animation-delay: 0.4s;">-->
<!--    <circle r="25" cx="25" cy="50" fill="#fff" class="animate-bounce animate-pulse" />-->
<!--  </svg>-->
<!--  <svg class="animate-bounce mx-2" style="animation-delay: 0.6s;">-->
<!--    <circle r="25" cx="25" cy="50" fill="#fff" class="animate-bounce animate-pulse" />-->
<!--  </svg>-->
<!--</div>-->
