<div class="container mt-4">
  <h2>{{ title }} Supermarket</h2>
  <form [formGroup]="storeForm" (ngSubmit)="saveStore()" novalidate>
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control" id="title" formControlName="title" placeholder="Enter title">
      <div *ngIf="storeForm.get('title')?.invalid && storeForm.get('title')?.touched" class="alert alert-danger">
        Title is required.
      </div>
    </div>

    <div class="form-group">
      <label for="phone">Phone:</label>
      <input type="text" class="form-control" id="phone" formControlName="phone" placeholder="Enter phone number">
      <div *ngIf="storeForm.get('phone')?.invalid && storeForm.get('phone')?.touched" class="alert alert-danger">
        Phone number is required.
      </div>
    </div>

    <div class="form-group">
      <label for="street">Street:</label>
      <input type="text" class="form-control" id="street" formControlName="street" placeholder="Enter street">
      <div *ngIf="storeForm.get('street')?.invalid && storeForm.get('street')?.touched" class="alert alert-danger">
        Street is required.
      </div>
    </div>

    <div class="form-group">
      <label for="house">House:</label>
      <input type="text" class="form-control" id="house" formControlName="house" placeholder="Enter house number">
      <div *ngIf="storeForm.get('house')?.invalid && storeForm.get('house')?.touched" class="alert alert-danger">
        House number is required.
      </div>
    </div>

    <div class="form-group">
      <label for="city">City:</label>
      <input type="text" class="form-control" id="city" formControlName="city" placeholder="Enter city">
      <div *ngIf="storeForm.get('city')?.invalid && storeForm.get('city')?.touched" class="alert alert-danger">
        City is required.
      </div>
    </div>

    <div class="form-group">
      <label for="postalCode">Postal Code:</label>
      <input type="text" class="form-control" id="postalCode" formControlName="postalCode" placeholder="Enter postal code">
      <div *ngIf="storeForm.get('postalCode')?.invalid && storeForm.get('postalCode')?.touched" class="alert alert-danger">
        Postal code is required.
      </div>
    </div>

    <div class="form-group">
      <label for="country">Country:</label>
      <input type="text" class="form-control" id="country" formControlName="country" placeholder="Enter country">
      <div *ngIf="storeForm.get('country')?.invalid && storeForm.get('country')?.touched" class="alert alert-danger">
        Country is required.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!storeForm.valid">{{ title }}</button>
    <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
  </form>
</div>
