<section class="container mx-auto px-4">
  <div class="sm:flex sm:items-center justify-start px-16 mb-6">
    <h2 class="text-heading1-semibold font-medium text-gray-50">Product manager</h2>
  </div>
  <div class="px-16 grid md:grid-cols-3 grid-rows-2 xs:grid-cols-1 gap-4">
    <div *ngIf="isAdmin()" [routerLink]="['/catalogue']"
         class="flex flex-row justify-evenly text-slate-100 text-heading4-medium font-light bg-slate-900 rounded-lg py-3 px-4
    bg-slate-900/60 border-2 border-slate-700/40 shadow-inner shadow-slate-500/20 cursor-pointer">
      <img alt="catalogue" height="32" src="assets/assets/catalog.svg" width="32"/>
      <button
        class="flex items-center leading-none z-2">
        Catalogue
      </button>
    </div>
    <div *ngIf="isAdmin()" [routerLink]="['/perishable']"
         class="flex flex-row justify-evenly gap-1.5 text-slate-100 text-heading4-medium font-light bg-slate-900 rounded-lg
    py-3 px-4 bg-slate-900/60 border-2 border-slate-700/40 shadow-inner shadow-slate-500/20 cursor-pointer">
      <img alt="perishable" height="32" src="assets/assets/check.svg" width="32"/>
      <button
        class="flex items-center leading-none z-2">
        Perishable
      </button>
    </div>
    <div *ngIf="isAdmin()" [routerLink]="['/nonperishable']"
         class="flex flex-row justify-evenly text-slate-100 text-heading4-medium font-light bg-slate-900 rounded-lg py-3 px-4
    bg-slate-900/60 border-2 border-slate-700/40 shadow-inner shadow-slate-500/20 cursor-pointer">
      <img alt="nonperishable" height="32" src="assets/assets/check.svg" width="32"/>
      <button
        class="flex items-center leading-none z-2">
        Non Perishable
      </button>
    </div>
    <div [routerLink]="['/orders']"
         class="flex flex-row justify-evenly text-slate-100 text-heading4-medium font-light bg-slate-900 rounded-lg py-3 px-4
    bg-slate-900/60 border-2 border-slate-700/40 shadow-inner shadow-slate-500/20 cursor-pointer">
      <img alt="order" height="32" src="assets/assets/order.svg" width="32"/>
      <button
        class="flex items-center leading-none z-2">
        Orders
      </button>
    </div>
    <div [routerLink]="['/inventory']"
         class="flex flex-row justify-evenly text-slate-100 text-heading4-medium font-light bg-slate-900 rounded-lg py-3 px-4
    bg-slate-900/60 border-2 border-slate-700/40 shadow-inner shadow-slate-500/20 cursor-pointer">
      <img alt="inventory" height="32" src="assets/assets/layers.svg" width="32"/>
      <button
        class="flex items-center leading-none z-2">
        Inventory
      </button>
    </div>
    <div [routerLink]="['/warehouses']"
         class="flex flex-row justify-evenly text-slate-100 text-heading4-medium font-light bg-slate-900 rounded-lg py-3 px-4
    bg-slate-900/60 border-2 border-slate-700/40 shadow-inner shadow-slate-500/20 cursor-pointer">
      <img alt="warehouse" height="32" src="assets/assets/warehouse.svg" width="32"/>
      <button
        class="flex items-center leading-none z-2">
        Warehouse
      </button>
    </div>
  </div>
</section>
