
<div class="relative overflow-x-auto shadow-md sm:rounded-lg max-w-full">
  <table class="min-w-full text-sm text-left text-gray-400">
    <thead class="text-xs uppercase bg-gray-700 text-gray-400">
    <tr>
      <th scope="col" class="p-4 w-1/12">
        <div class="flex items-center">
          <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 rounded focus:ring-blue-600 ring-offset-gray-800 focus:ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600">
          <label for="checkbox-all-search" class="sr-only">checkbox</label>
        </div>
      </th>
      <th scope="col" class="px-6 py-3 w-2/12">
        Product name
      </th>
      <th scope="col" class="px-6 py-3 w-1/12">
        Color
      </th>
      <th scope="col" class="px-6 py-3 w-2/12">
        Category
      </th>
      <th scope="col" class="px-6 py-3 w-1/12">
        Price
      </th>
      <th scope="col" class="px-6 py-3 w-1/12">
        Action
      </th>
    </tr>
    </thead>
    <tbody>
    <tr class="border-b bg-gray-800 border-gray-700 hover:bg-gray-600">
      <td class="w-4 p-4">
        <div class="flex items-center">
          <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 rounded focus:ring-blue-500 focus:ring-blue-600 ring-offset-gray-800 focus:ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600">
          <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
        </div>
      </td>
      <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white">
        Apple MacBook Pro 17"
      </th>
      <td class="px-6 py-4">
        Silver
      </td>
      <td class="px-6 py-4">
        Laptop
      </td>
      <td class="px-6 py-4">
        $2999
      </td>
      <td class="px-6 py-4">
        <a href="#" class="font-medium text-blue-500 hover:underline">Edit</a>
      </td>
    </tr>
    <tr class="border-b bg-gray-800 border-gray-700 hover:bg-gray-600">
      <td class="w-4 p-4">
        <div class="flex items-center">
          <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 rounded focus:ring-blue-500 focus:ring-blue-600 ring-offset-gray-800 focus:ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600">
          <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
        </div>
      </td>
      <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white">
        Apple MacBook Pro 17"
      </th>
      <td class="px-6 py-4">
        Silver
      </td>
      <td class="px-6 py-4">
        Laptop
      </td>
      <td class="px-6 py-4">
        $2999
      </td>
      <td class="px-6 py-4">
        <a href="#" class="font-medium text-blue-500 hover:underline">Edit</a>
      </td>
    </tr>
    <tr class="border-b bg-gray-800 border-gray-700 hover:bg-gray-600">
      <td class="w-4 p-4">
        <div class="flex items-center">
          <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 rounded focus:ring-blue-500 focus:ring-blue-600 ring-offset-gray-800 focus:ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600">
          <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
        </div>
      </td>
      <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white">
        Apple MacBook Pro 17"
      </th>
      <td class="px-6 py-4">
        Silver
      </td>
      <td class="px-6 py-4">
        Laptop
      </td>
      <td class="px-6 py-4">
        $2999
      </td>
      <td class="px-6 py-4">
        <a href="#" class="font-medium text-blue-500 hover:underline">Edit</a>
      </td>
    </tr>
    <tr class="border-b bg-gray-800 border-gray-700 hover:bg-gray-600">
      <td class="w-4 p-4">
        <div class="flex items-center">
          <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 rounded focus:ring-blue-500 focus:ring-blue-600 ring-offset-gray-800 focus:ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600">
          <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
        </div>
      </td>
      <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white">
        Apple MacBook Pro 17"
      </th>
      <td class="px-6 py-4">
        Silver
      </td>
      <td class="px-6 py-4">
        Laptop
      </td>
      <td class="px-6 py-4">
        $2999
      </td>
      <td class="px-6 py-4">
        <a href="#" class="font-medium text-blue-500 hover:underline">Edit</a>
      </td>
    </tr>
    <tr class="border-b bg-gray-800 border-gray-700 hover:bg-gray-600">
      <td class="w-4 p-4">
        <div class="flex items-center">
          <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 rounded focus:ring-blue-500 focus:ring-blue-600 ring-offset-gray-800 focus:ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600">
          <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
        </div>
      </td>
      <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white">
        Apple MacBook Pro 17"
      </th>
      <td class="px-6 py-4">
        Silver
      </td>
      <td class="px-6 py-4">
        Laptop
      </td>
      <td class="px-6 py-4">
        $2999
      </td>
      <td class="px-6 py-4">
        <a href="#" class="font-medium text-blue-500 hover:underline">Edit</a>
      </td>
    </tr>
    <tr class="border-b bg-gray-800 border-gray-700 hover:bg-gray-600">
      <td class="w-4 p-4">
        <div class="flex items-center">
          <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 rounded focus:ring-blue-500 focus:ring-blue-600 ring-offset-gray-800 focus:ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600">
          <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
        </div>
      </td>
      <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white">
        Apple MacBook Pro 17"
      </th>
      <td class="px-6 py-4">
        Silver
      </td>
      <td class="px-6 py-4">
        Laptop
      </td>
      <td class="px-6 py-4">
        $2999
      </td>
      <td class="px-6 py-4">
        <a href="#" class="font-medium text-blue-500 hover:underline">Edit</a>
      </td>
    </tr>
    <tr class="border-b bg-gray-800 border-gray-700 hover:bg-gray-600">
      <td class="w-4 p-4">
        <div class="flex items-center">
          <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 rounded focus:ring-blue-500 focus:ring-blue-600 ring-offset-gray-800 focus:ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600">
          <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
        </div>
      </td>
      <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white">
        Apple MacBook Pro 17"
      </th>
      <td class="px-6 py-4">
        Silver
      </td>
      <td class="px-6 py-4">
        Laptop
      </td>
      <td class="px-6 py-4">
        $2999
      </td>
      <td class="px-6 py-4">
        <a href="#" class="font-medium text-blue-500 hover:underline">Edit</a>
      </td>
    </tr>
    <tr class="border-b bg-gray-800 border-gray-700 hover:bg-gray-600">
      <td class="w-4 p-4">
        <div class="flex items-center">
          <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 rounded focus:ring-blue-500 focus:ring-blue-600 ring-offset-gray-800 focus:ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600">
          <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
        </div>
      </td>
      <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white">
        Apple MacBook Pro 17"
      </th>
      <td class="px-6 py-4">
        Silver
      </td>
      <td class="px-6 py-4">
        Laptop
      </td>
      <td class="px-6 py-4">
        $2999
      </td>
      <td class="px-6 py-4">
        <a href="#" class="font-medium text-blue-500 hover:underline">Edit</a>
      </td>
    </tr>
    <tr class="border-b bg-gray-800 border-gray-700 hover:bg-gray-600">
      <td class="w-4 p-4">
        <div class="flex items-center">
          <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 rounded focus:ring-blue-500 focus:ring-blue-600 ring-offset-gray-800 focus:ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600">
          <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
        </div>
      </td>
      <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white">
        Apple MacBook Pro 17"
      </th>
      <td class="px-6 py-4">
        Silver
      </td>
      <td class="px-6 py-4">
        Laptop
      </td>
      <td class="px-6 py-4">
        $2999
      </td>
      <td class="px-6 py-4">
        <a href="#" class="font-medium text-blue-500 hover:underline">Edit</a>
      </td>
    </tr>
    <tr class="border-b bg-gray-800 border-gray-700 hover:bg-gray-600">
      <td class="w-4 p-4">
        <div class="flex items-center">
          <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 rounded focus:ring-blue-500 focus:ring-blue-600 ring-offset-gray-800 focus:ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600">
          <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
        </div>
      </td>
      <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white">
        Apple MacBook Pro 17"
      </th>
      <td class="px-6 py-4">
        Silver
      </td>
      <td class="px-6 py-4">
        Laptop
      </td>
      <td class="px-6 py-4">
        $2999
      </td>
      <td class="px-6 py-4">
        <a href="#" class="font-medium text-blue-500 hover:underline">Edit</a>
      </td>
    </tr>
    <tr class="border-b bg-gray-800 border-gray-700 hover:bg-gray-600">
      <td class="w-4 p-4">
        <div class="flex items-center">
          <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 rounded focus:ring-blue-500 focus:ring-blue-600 ring-offset-gray-800 focus:ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600">
          <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
        </div>
      </td>
      <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white">
        Apple MacBook Pro 17"
      </th>
      <td class="px-6 py-4">
        Silver
      </td>
      <td class="px-6 py-4">
        Laptop
      </td>
      <td class="px-6 py-4">
        $2999
      </td>
      <td class="px-6 py-4">
        <a href="#" class="font-medium text-blue-500 hover:underline">Edit</a>
      </td>
    </tr>
    </tbody>
  </table>
  <nav class="flex items-center justify-between pt-4" aria-label="Table navigation">
    <span class="text-sm font-normal text-gray-400">Showing <span class="font-semibold text-white">1-10</span> of <span class="font-semibold text-white">1000</span></span>
    <ul class="inline-flex -space-x-px text-sm h-8">
      <li>
        <a href="#" class="flex items-center justify-center px-3 h-8 ml-0 leading-tight border rounded-l-lg bg-gray-800 border-gray-700 text-gray-400 hover:bg-gray-700 hover:text-white">Previous</a>
      </li>
      <li>
        <a href="#" class="flex items-center justify-center px-3 h-8 ml-0 leading-tight border bg-gray-800 border-gray-700 hover:bg-gray-700 text-white"
        >1</a>
      </li>
      <li>
        <a href="#" class="flex items-center justify-center px-3 h-8 ml-0 leading-tight border bg-gray-800 border-gray-700 hover:bg-gray-700 text-white">2</a>
      </li>
      <li>
        <a href="#" aria-current="page" class="flex items-center justify-center px-3 h-8 text-blue-600 border bg-blue-50 hover:bg-blue-100 hover:text-blue-700 border-gray-700 bg-gray-700 text-white">3</a>
      </li>
      <li>
        <a href="#" class="flex items-center justify-center px-3 h-8 ml-0 leading-tight border bg-gray-800 border-gray-700 hover:bg-gray-700 text-white"
        >4</a>
      </li>
      <li>
        <a href="#" class="flex items-center justify-center px-3 h-8 ml-0 leading-tight border bg-gray-800 border-gray-700 hover:bg-gray-700 text-white"
        >5</a>
      </li>
      <li>
        <a href="#" class="flex items-center justify-center px-3 h-8 ml-0 leading-tight border rounded-r-lg bg-gray-800 border-gray-700 text-gray-400 hover:bg-gray-700 hover:text-white">Next</a>
      </li>
    </ul>
  </nav>
</div>
